.proList{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.proListItems{
    border-radius: 10px;
    overflow: hidden;
    cursor:pointer;
}
.imgpro{
    width: 300px;
    height: 250px;
}

.proTitles>h1{
   font-size: 18px;
}


.proTitles>h2{
    font-size: 14px;
    font-weight: 300;
}
.headings{
    text-transform: capitalize;
}